.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: rgba(17, 17, 17, 0.8);
  padding: 10px 20px; /* Reduced padding for better scaling */
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  margin-top: 6px;
  padding: 0;
}

.navbar li {
  margin: 0 20px;
  font-family: cursive;
}

.navbar a {
  font-size: 0.98rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
}

.navbar a::before,
.navbar a::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  transition: width 0.4s ease;
  bottom: 0;
  left: 0;
}

.navbar a:hover::before {
  width: 100%;
}

.navbar a:hover::after {
  width: 100%;
  background: linear-gradient(90deg, #6a11cb, #2575fc);
}

.navbar-resume {
  display: flex;
  margin-top: 1px;
  padding: 5px;
  font-family: cursive;
  border-radius: 10px;
  border: 3px solid rgb(5, 1, 117);
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  margin-left: auto;
  margin-right: 10px;
  transition: background 0.7s ease, transform 0.7s ease;
}

.navbar-resume:hover {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  transform: scale(1.1);
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack items vertically */
    padding: 10px 20px; /* Adjust padding for smaller screens */
  }

  .navbar ul {
    flex-direction: column; /* Change from row to column for links */
    margin-top: 10px; /* Add spacing for links */
    align-items: center;
  }

  .navbar li {
    margin: 10px 0; /* Add spacing between list items */
  }

  .navbar a {
    font-size: 1rem; /* Slightly larger font size for touch devices */
  }

  .navbar-resume {
    margin-left: 0; /* Center the resume button */
    align-self: center; /* Align to center when stacked */
  }
}
